body {
    display: grid;
    grid-template-rows: [header]20vh [body] 70vh [footer] 10vh;
    grid-template-columns: [sideBar] 20vw [main] 80vw;
    padding: 0;
    margin: 0;
}

header {
    grid-row: header / 1;
    grid-column: 1 / 3;
    background: green;
}

#nav-bar {
    display: flex;
}

#side-bar {
    grid-column: sideBar / 1;
    grid-row: body / 4;
    background: blue
}

#main {
    grid-column: main / main;
    grid-row: body / 2;
    background: red;
}

footer {
    grid-column: main / main;
    grid-row: footer footer;
    background: yellow;
}




.hidden {
    display: none;
}